[db]
DSN=www:www@tcp(127.0.0.1:3306)/kelp?charset=utf8
MAX_CONNECTION=10
MAX_IDLE=10

[log]
NAME=kelp.log
PATH=./runtime/log
MAX_NUMBER=10
MAX_SIZE=1000000
MAX_LEVEL=6
MIN_LEVEL=0

[monitor]
HOST=127.0.0.1:9998
